

{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load static %}


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


{% bootstrap_css %}
{% bootstrap_javascript %}

{% block header %}


<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen" />
<script src="{% static 'js/pressurechart.js' %}" type="text/javascript"></script>
<script src="{% static 'js/camviews.js' %}" type="text/javascript"></script>

<noscript>
  <div class="disabled">Javascript is disabled in your web browser. Please enable JavaScript to view the chart.</div>
</noscript>
  
<style>
</style>


<h1>GaugeView</h1>


{% endblock header %}

{% block content %}


<div class="row">
  <div class="col-md-8">
    <div id="wrap_video" class="box">
      <div class="responsive" id="video-box">
        <div id="video-overlays" class="responsive">
    	     <canvas id="video-canvas" class="responsive"></canvas>
        </div>
        <div>
          <video id="player" controls autoplay class="responsive"></video>
        </div>
      </div>
    </div>
  </div>
  <p>


  <div class="col-md-4" style="align-items: center">
    <div class="box">
      <div class="box-inner">
        <span class="headers">time</span><br>
        <span id="time-box"></span>
      </div>
      <p>
      <div class="box-inner">
        <span class="headers">pressure</span><br>
        <span id="psig-box"></span>
      </div>
      <p>

      <div>
        <button class="btn btn-default" id="reset">Reset</button>
        <button class="btn btn-default" id="export">Export</button><br><p>

        <section id="export-menu" class="export-menu">
          <form action="{% url 'core:gauge_export' %}" method='post'>
            {% csrf_token %}
            <input name="json" id="json" type="hidden" value="">
            <button class="btn btn-primary" id="export_download_button" name="submit">DOWNLOAD CSV</button>
          </form>
        </section>
      </div>
    </div>
    <p><br>

    <div class="box">
      <button class="btn btn-default" onclick="showSettings()">Settings</button>
      <p>
      <section id="settings-menu" class="settings-menu">
        <p><br>
        <canvas id="settings-canvas" width=100 height=100></canvas>
        <p>
        <div class="row" style="padding-left:20px; text-align: left">
          <div class="col-xs-6">
              Sensitivity:<br><input class="input-text" id="sensitivity_field" size="5"><br>
              Radius factor:<br><input class="input-text" id="r_factor_field" size="5"><br>
              Sm. radius factor:<br><input class="input-text" id="sm_r_factor_field" size="5"><br>
              Min. pixels:<br><input class="input-text" id="pxls_detected_min_field" size="5"><br>
            </div>
            <div class="col-xs-6">
              R&sup2; min:<br><input class="input-text" id="r_sq_min_field" size="5"><br>
              Residual cutoff:<br><input class="input-text" id="residual_cutoff_field" size="5"><br>
              Ref. angle:<br><input class="input-text" id="ref_angle_field" size="5"><br>
              Calibration:<br><input class="input-text" id="calib_field" size="5"><br>
            </div>
            <p><br>
        </div>
        <p><br>
        <button class="btn btn-primary" onclick="updateParams()">Update</button>
      </section>   
    </div>

    <span id="messages"></span>
  </div>
</div>


<br>
<div class="box2" id="dynamic_chart">
  <canvas style="background-color: #ffffff" id="chart" width=100 height=50></canvas>
</div>

<p><br>




<script>

const player = elem('player');
const resetButton = elem('reset');
const exportButton = elem('export');
const message = elem('messages');
const settingsMenu = elem('settings-menu');

var pressureChart = createPressureChart(elem("chart"));
var primaryCam = new primaryCamView(elem('video-canvas'));
var settingsCam  = new settingsCamView(elem('settings-canvas'));


var params = {
  sensitivity : {{ sensitivity }},
  r_factor : {{ r_factor }},
  sm_r_factor : {{ sm_r_factor }},
  pxls_detected_min : {{ pxls_detected_min }},
  r_sq_min : {{ r_sq_min }},
  residual_cutoff : {{ residual_cutoff }},
  ref_angle : {{ ref_angle }},
  calib : {{ calib }},
}

var gauge = {
  centerX: null,
  centerY: null,
  radius: null,
  xUnit: 0,   // unit circle x value, denotes needle position
  yUnit: 0,   // unit circle y value, denotes needle position
}



var time = (function() {
  var elapsedTime = 0;
  const read = () => {
    return elapsedTime;
  }
  const increase = () => {
    elapsedTime += 1;
    return elapsedTime;
  }
  const reset = () => {
    elapsedTime = 0;
  }
  return {read: read, increase: increase, reset: reset}
}());



var psig = (function() {
  var pressure = 0;
  const read = () => {
    return pressure;
  }
  const write = (val) => {
    pressure = val;
  }
  return {read: read, write: write}
}());






var isMobile = navigator.userAgent.match(/(iPad)|(iPhone)|(iPod)|(android)|(webOS)/i)
var constraints;
if (isMobile) {
  constraints = { video: {facingMode: {exact: "environment"}}};
}
else {
  constraints = {video: true};
}

$(window).resize(function(e) {
  updateCamViews();
});

function isStreamSupported() {
  return navigator.getUserMedia
}


// Get video stream
navigator.mediaDevices.getUserMedia(constraints)
.then(function(stream) {
      player.srcObject = stream;
      player.onloadedmetadata = function(e) {
        player.play();
        updateCamViews();
      };
})
.catch(function(err) {
  console.log("Exception:", err)
});

displayParams();







setInterval(function(){

  pressureChart.addDatapoint(time.read(), psig.read());
  updateMetrics();
  settingsCam.displayCropped(player);

	$.ajax({
    headers: { "X-CSRFToken": "{{csrf_token}}"},
    url:"{% url 'core:read_gauge' %}",
    method:"POST",
    data:{
      image_string: settingsCam.convertCanvasToBase64(),
      radius: gauge.radius,
      comp_ratio: primaryCam.getHeight()/settingsCam.getHeight(), 
      params: JSON.stringify(params)    
    },
    success:function(response) {
      /* draw pixels in settings menu */
      let detectedPix = {
        pointsX: JSON.parse(response.points_x),
        pointsY: JSON.parse(response.points_y)
      }
      settingsCam.drawDetectedPixels(detectedPix);
      //drawCirclesInSettings();

      /* get pressure and needle position */
			if ((response.psig !== 999) && (response.x_unit !== 999) && (response.y_unit !== 999)) {
				psig.write(response.psig);
        gauge.xUnit = response.x_unit;
        gauge.yUnit = response.y_unit;
        primaryCam.clearCanvas(); 
        primaryCam.drawGaugeAndNeedle(gauge);
        
      }
    },
    error:function(request, status, error){
      console.log("Ajax Exception:", request, status, error);
      console.log(request.responseText);
    }
  });
  time.increase();
}, 1000) /* time in milliseconds */






function updateCamViews(){
  let videoWidth = player.srcObject.getTracks()[0].getSettings().width
  let videoHeight = player.srcObject.getTracks()[0].getSettings().height
  primaryCam.updateDimensions(videoWidth, videoHeight);
  gauge.centerX = videoWidth / 2;
  gauge.centerY = videoHeight / 2;

	// crop out a square image from webcam feed
	if (videoHeight <= videoWidth){
		gauge.radius = (videoHeight*0.8)/2;
		let x1 = (videoWidth-(2*gauge.radius))/2;
		let y1 = videoHeight*0.1;
    let x2 = gauge.radius*2;
    let y2 = gauge.radius*2;
    settingsCam.updateCrop(x1, y1, x2, y2);
	}
	else {
		gauge.radius = (videoWidth*0.8)/2;
		let x1 = videoWidth*0.1;
		let y1 = (videoHeight-(2*gauge.radius))/2;
    let x2 = gauge.radius*2;
    let y2 = gauge.radius*2;
    settingsCam.updateCrop(x1, y1, x2, y2);
	}
}



function displayParams(){
  elem("sensitivity_field").value = params.sensitivity;
  elem("r_factor_field").value = params.r_factor;
  elem("sm_r_factor_field").value = params.sm_r_factor;
  elem("pxls_detected_min_field").value = params.pxls_detected_min;
  elem("r_sq_min_field").value = params.r_sq_min;
  elem("residual_cutoff_field").value = params.residual_cutoff;
  elem("ref_angle_field").value = params.ref_angle;
  elem("calib_field").value = params.calib;
}

function updateParams(){
  sensitivity_value = elem("sensitivity_field").value;
  r_factor_value = elem("r_factor_field").value;
  sm_r_factor_value = elem("sm_r_factor_field").value;
  pxls_detected_min_value = elem("pxls_detected_min_field").value;
  r_sq_min_value = elem("r_sq_min_field").value;
  residual_cutoff_value = elem("residual_cutoff_field").value;
  ref_angle_value = elem("ref_angle_field").value;
  calib_value = elem("calib_field").value;

  // Sensitivity must be between 0 and 255
  if ((!isNaN(sensitivity_value)) && (sensitivity_value >= 0) && (sensitivity_value <= 255)){
    params.sensitivity = sensitivity_value;
  }
  if (!isNaN(sm_r_factor_value)){
    params.sm_r_factor = sm_r_factor_value;
  }
  // R_sq coefficient must be between 0 and 1
  if ((!isNaN(r_sq_min_value)) && (r_sq_min_value >= 0) && (r_sq_min_value <= 1)){
    params.r_sq_min = r_sq_min_value;
  }
  if ((!isNaN(ref_angle_value)) && (ref_angle_value > 0)){
    params.ref_angle = ref_angle_value;
  }
  if ((!isNaN(calib_value)) && (calib_value > 0)){
    params.calib = calib_value;
  }
  // Radius factor must be between 0 and 1
  if ((!isNaN(r_factor_value)) && (r_factor_value >= 0) && (r_factor_value <= 1)){
    params.r_factor = r_factor_value;
  }
  // No checks currently for the following parameters
  params.pxls_detected_min = pxls_detected_min_value;
  params.residual_cutoff = residual_cutoff_value;
  displayParams();
}



function updateMetrics(){
	elem("time-box").innerText = `${time.read()} s`;
  elem("psig-box").innerText = `${psig.read()} psig`;
}


resetButton.addEventListener('click', () => {
	time.reset();
  pressureChart.reset();
});


exportButton.addEventListener('click', () => {
  elem('json').value = pressureChart.getJSON();
  showExport();
});


function toggleSettingsVisibility(){
  toggleVisibility(settingsMenu);
}

function toggleVisibility(element){
  if (element.style.display == "none"){
    element.style.display = "block";
  } else {
    element.style.display = "none";
  }
}

function removeButton(button) {
   button.style="display: none;"
}


function showSettings(){
  elem("settings-menu").classList.toggle('settings-expand');
}

function showExport(){
  elem("export-menu").classList.toggle('export-expand');
}

// provides shorthand for getting element id
function elem(elem_id){
  return document.getElementById(elem_id);
}


</script>




{% endblock content %}


